img{
    align-self: center;
}


.main{
    width:70%;
    border: solid;
    flex-direction: row;
}

.left{
    width: 40%;
    background-color: red;
}

.right{
    width: 60%;
    background-color: blue;
}
